@import url('htpps://fomts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color)
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: transparent;
    color: var(--bg-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-toggle {
    color: var(--main-color);
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

.Home {
    height: 100vh;
    background: url('home.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.Home-content {
    max-width: 600px;
}

.Home-content h1 {
    position: relative;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
}

.Home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.4s;
}

.Home-content h2 {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: #00abf0;
}

.Home-content h2::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.Home-content h3 {
    font-size: 30px;
}

.Home-content p {
    position: relative;
    font-size: 20px;
    margin: 20px 0 40px;
}

.Home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.Home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.Home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 2;
}

.Home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: 5s;
}

.Home-sci a:hover {
    color: #081b29;
}

.Home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: 2s;
}

.Home-sci a:hover::before {
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0px;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
}

.home-imgHover:hover {
    background: #081b29;
    opacity: 8;
}

.home-imgHover::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

/*KEYFRAMES ANIMATION*/
@keyframes showRight {
    100% {
        width: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}

.footer{
    text-align: center;
    background-color: #081b29;
    color: #F9EBDE;
    padding: 27px 12%;
    font-size: 20px;
    width: 100%;
}
/* style for about me page*/

.head-cont {
    max-height: 100vh;
    font-size: 40px;
    background: #112e42;
    color:  #ededed;
    gap: 7em;
    padding: 100px 15% 0;
    width: 100%;
}

.aboutme-home {
    width: 100%;
    min-height: 45vh;
    background: #112e42;
    color:  #ededed;
    align-items: center;
    gap: 5em;
    padding: 15px 12% 0;
}

.aboutme-img img {
    width: 25%;
    height: 30%;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box; 
    align-items: center;
    border: 0.5rem solid var(--main-color);
    border-left: 0.5rem solid rebeccapurple;
    border-right: 0.5rem solid rebeccapurple
}

.aboutme-cont p {
    font-size: 50px;
    margin: 25px 0 30px;
    color: rebeccapurple;
}

table {
    width: 100%;
}

table, th, td {
    border: 2px solid #ededed;
    height: 65px;
    background-color: #112e42;
    color: #00abf0;
    font-size: 20PX;
}

span {
    color: var(--main-color);
}

/*style for gallery page*/

.gallery-home {
    min-height: 33vh;
    font-size: 40px;
    background: #112e42;
    color: #484545;
    gap: 7em;
    padding: 0px 15% 0;
    width: 100%;
}

img {
    max-width: 50%;
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
}

.gallery {
    width: 100%;
    margin-inline: auto;
}

.gallery {
    display: grid;
    background: #112e42;
    color: #ededed;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 0;
}

.read1 {
    border: 2px solid #00abf0;
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
    font-size: 50px;
    color: rebeccapurple;
    
}

.mama1 {
    display: flex; 
    justify-content: space-between; 
    padding: 1rem;
}

.mama1 img {
    max-width: 50%; 
    height: auto; 
}

.mada1 {
    border: 2px solid rebeccapurple;
    border-radius: 6px;
    display: flex; 
    justify-content: space-between; 
    padding: 1rem;
}

.mada1 img {
    max-width: 50%; 
    height: auto; 
}

.watch1 {
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
    font-size: 50px;
    color: #00abf0;
}

.hear1 {
    border: 2px solid #00abf0;
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
    font-size: 50px;
    color: rebeccapurple;
}

.madadik1 {
    border-radius: 6px;
    display: flex; 
    justify-content: space-between; 
    padding: 1rem;
}

.madadik1 img {
    max-width: 50%; 
    height: auto; 
}

.fruit1 {
    border: 2px solid rebeccapurple;
    border-radius: 6px;
    display: flex; 
    justify-content: space-between; 
    padding: 1rem;
}

.fruit1 img {
    max-width: 50%; 
    height: auto; 
}

.fruitA1 {
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
    font-size: 50px;
    color: #00abf0;
}

.famA1 {
    border: 2px solid #00abf0;
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
    font-size: 45px;
    color: rebeccapurple;
}

.fam1 {
    border-radius: 6px;
    display: flex; 
    justify-content: space-between; 
    padding: 1rem;
}

.fam1 img {
    max-width: 50%; 
    height: auto; 
}

.fam11 {
    border: 2px solid rebeccapurple;
    display: flex; 
    justify-content: space-between; 
    padding: 1rem;
}

.fam11 img {
    max-width: 50%; 
    height: auto; 
}

.fam1A1 {
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
    font-size: 50px;
    color: #00abf0;
}

.fam2A1 {
    border: 2px solid #00abf0;
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
    font-size: 50px;
    color: rebeccapurple;
}

.fam21 {
    display: flex; 
    justify-content: space-between; 
    padding: 1rem;
}

.fam21 img {
    max-width: 50%; 
    height: auto; 
}

/*style for family page*/

.family-home {
    min-height: 33vh;
    font-size: 40px;
    background: #112e42;
    color: #484545;
    gap: 7em;
    padding: 0px 15% 0;
    width: 100%;
}

img {
    max-width: 50%;
    display: block;
    box-sizing: border-box;
}

.family {
    width: 100%;
    margin-inline: auto;
}

.family {
    display: grid;
    background: #112e42;
    color: #ededed;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 0;
}

.read {
    border: 2px solid rebeccapurple;
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
    font-size: 50px;
    
}

.mama {
    display: flex; 
    justify-content: space-between; 
    padding: 1rem;
}

.mama img {
    max-width: 50%; 
    height: auto; 
}

.watch {
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
    font-size: 50px;
    color: #00abf0;
}

.mada {
    border: 2px solid rebeccapurple;
    border-radius: 6px;
    display: flex; 
    justify-content: space-between; 
    padding: 1rem;
}

.mada img {
    max-width: 50%; 
    height: auto; 
}

.hear {
    border: 2px solid rebeccapurple;
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
    font-size: 50px;
}

.madadik {
    border-radius: 6px;
    display: flex; 
    justify-content: space-between; 
    padding: 1rem;
}

.madadik img {
    max-width: 50%; 
    height: auto; 
}

.fruitA {
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
    font-size: 50px;
    color: #00abf0;
}

.fruit {
    border: 2px solid rebeccapurple;
    border-radius: 6px;
    display: flex; 
    justify-content: space-between; 
    padding: 1rem;
}

.fruit img {
    max-width: 50%; 
    height: auto; 
}

.famA {
    border: 2px solid rebeccapurple;
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
    font-size: 45px;
}

.fam {
    display: flex; 
    justify-content: space-between; 
    padding: 1rem;
}

.fam img {
    max-width: 50%; 
    height: auto; 
}

.fam1A {
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
    font-size: 50px;
    color: #00abf0;
}

.fam1 {
    border: 2px solid rebeccapurple;
    display: flex; 
    justify-content: space-between; 
    padding: 1rem;
}

.fam1 img {
    max-width: 50%; 
    height: auto; 
}

.fam2A {
    border: 2px solid rebeccapurple;
    border-radius: 6px;
    padding: 1rem;
    text-align: center;
    font-size: 50px;
}

.fam2 {
    display: flex; 
    justify-content: space-between; 
    padding: 1rem;
}

.fam2 img {
    max-width: 50%; 
    height: auto; 
}

/*style for education page*/

.head-cont {
    min-height: 33vh;
    font-size: 40px;
    background: #112e42;
    color:  #ededed;
    gap: 7em;
    padding: 100px 15% 0;
    width: 100%;
}

.aboutme-home {
    width: 100%;
    min-height: 60vh;
    background: #F9EBDE;
    color:  #484545;
    align-items: center;
    gap: 5em;
    padding: 15px 12% 0;
}

.aboutme-img img {
    width: 40%;
    height: 35%;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box; 
    align-items: center;
}

.education {
    width: 100%;
    min-height: 90vh;
    background: rebeccapurple;
    color: #F9EBDE;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.edu-conta h2 {
    font-size: 40px;
    line-height: 1.2;
}

.edu-conta p {
    font-size: 20px;
    margin: 25px 0 30px;
}

.pre-img img {
    position: relative;
    width: 197%;
    height: 197%;
    border-radius: 20%;
    box-sizing: border-box;
}

.education2 {
    width: 100%;
    min-height: 90vh;
    background: #F9EBDE;
    color: rebeccapurple;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.edu-cont h2 {
    font-size: 40px;
    line-height: 1.2;
}

.edu-cont p {
    font-size: 20px;
    margin: 25px 0 30px;
}

.pri-img img {
    position: relative;
    width: 255%;
    height: 250%;
    border-radius: 20%;
    box-sizing: border-box;
}

.edu2 {
    width: 100%;
    min-height: 90vh;
    background: rebeccapurple;
    color: #F9EBDE;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.sec-img img {
    position: relative;
    width: 197%;
    height: 197%;
    border-radius: 20%;
    box-sizing: border-box;
}

.edu2-cont h2 {
    font-size: 40px;
    line-height: 1.2;
}

.edu2-cont p {
    font-size: 20px;
    margin: 25px 0 30px;
}

.edu3 {
    width: 100%;
    min-height: 90vh;
    background: #F9EBDE;
    color: rebeccapurple;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.edu3-cont h2 {
    font-size: 40px;
    line-height: 1.2;
}

.edu3-cont p {
    font-size: 20px;
    margin: 25px 0 30px;
}

.form6-img img {
    position: relative;
    width: 197%;
    height: 197%;
    border-radius: 20%;
    box-sizing: border-box;
}

.edu4 {
    width: 100%;
    min-height: 90vh;
    background: rebeccapurple;
    color: #F9EBDE;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.degree-img img {
    position: relative;
    width: 250;
    height: 227%;
    border-radius: 20%;
    box-sizing: border-box;
}

.edu4-cont h2 {
    font-size: 40px;
    line-height: 1.2;
}

.edu4-cont p {
    font-size: 20px;
    margin: 25px 0 30px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f397eb;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: transparent;
    color: var(--bg-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-toggle {
    color: var(--main-color);
}